<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><%= t('app_name') %></a>
    </div>

    <ul class="nav navbar-nav">
      <li class="<%= activatable_class('cards') %>"><%= link_to t('all_cards'), cards_path %></li>
      <li><a href="#"><%= t('add_card') %></a></li>
    </ul>
  </div>
</nav>